@headerHeight: 50px;
@dateBorderColor: #e9e9e9;

.board {
  min-height: calc(100vh - 124px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: @headerHeight;
  margin: 16px 16px 0;
  padding: 0 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px #f1ecec;

  .tabs {
    min-width: 580px;
    max-width: 50vw;
    :global {
      .ant-tabs-nav {
        height: @headerHeight;
        margin-bottom: 0;
        &::before {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}

.layout {
  :global {
    .react-grid-item {
      .react-resizable-handle-n,
      .react-resizable-handle-s {
        left: 10px;
        width: 100%;
        height: 8px;
        transform: rotate(0);
      }
      .react-resizable-handle-w,
      .react-resizable-handle-e {
        top: 10px;
        width: 8px;
        height: 100%;
        transform: rotate(0);
      }
      .react-resizable-handle {
        opacity: 0;
      }
    }
    .react-grid-item.react-grid-placeholder {
      background: #e6e6e6;
      opacity: 1;
    }
  }
}

.boardItem {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 8px 16px #e5e6ed;
}

.dragHandle {
  height: 20px;
  padding: 0 6px;
  line-height: 20px;
  cursor: default;
}
.chartWrap {
  height: calc(100% - 20px);
}
