@import '~@/styles/variables';

.basicLayout {
  display: flex;
  flex-direction: column;
  min-height: 100% !important;
  :global(.ant-layout-header) {
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: @layout-min-width;
    height: @layout-header-height;
    padding: 0 16px;
    color: #fff;
    line-height: @layout-header-height;
  }

  .logo {
    display: flex;
    align-items: center;
    img {
      width: 28px;
      height: 28px;
      margin-right: 12px;
    }
    h1 {
      color: #fff;
      font-size: 18px;
    }
  }
}

.content {
  min-width: @layout-min-width;
  padding-top: @layout-header-height;
  background-color: @layout-body-background;
}

.globalFooter {
  min-width: @layout-min-width;
  background-color: @layout-body-background !important;
}
